body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1em;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  margin: 1em;
  display: flex;
  flex-direction: row-reverse; /* Default to right align */
}

.member:nth-child(odd) {
  flex-direction: row; /* Override to left align */
}

.profile-photo img {
  max-width: 150px;
  border-radius: 50%;  /* Makes the image round */
  margin: 0 1em; /* Margin to separate from text */
}

.profile-content {
  flex: 1;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.5em;
}

/* Research Panel */
.research-panel {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.research-panel h2 {
  margin: 1em;
  margin-bottom: 3em;
}

.research-panel ul {
  margin-bottom: 3em;  /* Adds extra space above the list */
}

.research-panel ul li {
  margin-bottom: 1em;  /* Adds extra space below each list item */
}

/* Trigger button */
.open-panel {
  font-weight: bold;
  position: fixed;
  top: 1em;  /* Added some top margin */
  right: 1em;  /* Added some right margin */
  background-color: #007bff;  /* Changed background color */
  color: white;  /* Text color set to white */
  border: none;
  padding: 1em 1.5em;  /* Increased padding */
  font-size: 1.2em;  /* Increased font size */
  border-radius: 5px;  /* Rounded corners */
}


@media (max-width: 768px) {
  .open-panel {
    top: 5em;  /* Increase top margin to avoid title */
    font-size: 1em;  /* Optional: You may want to reduce font size */
  }
  .member {
    flex-direction: column !important; /* Forces the direction for all .member */
    align-items: center;
  }

  .profile-photo img {
    margin-bottom: 1em;
  }

  .profile-content {
    text-align: center;
  }
}


